<!DOCTYPE html>

<html dir="ltr" lang="es-ES" xmlns:th="http://www.thymeleaf.org/stripes">

<head th:include="/WEB-INF/thymeleaf/templates/page-template.html::head" th:with="pageName=${actionBean.page.title},metaDescription=${actionBean.page.metaDescription}">
	<title>Pagina de prueba</title>
</head>

<!--[if lt IE 7 ]><body class="page ie6"><![endif]-->
<!--[if IE 7 ]><body class="page ie7"><![endif]-->
<!--[if IE 8 ]><body class="page ie8"><![endif]-->
<!--[if IE 9 ]><body class="page ie9"><![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--><body class="home page"><!--<![endif]-->
<div id="body-wrapper" class="clearfix">
	<header th:replace="/WEB-INF/thymeleaf/templates/page-template.html::banner">
		<p>El título y eso</p>
	</header>
	<ul id="main-wrapper">
		<li id="maincontent" role="main"> <!-- begin maincontent -->
			<article id="page-0" class="page" th:replace="/WEB-INF/thymeleaf/templates/page-template.html::page-detail">
				<p>Un post</p>
			</article>
		</li> <!-- end #maincontent -->
		<li id="firstsidebar" role="complementary" class="el2" th:replace="/WEB-INF/thymeleaf/templates/page-template.html::sidebar">
			<p>Barra lateral de prueba</p>
		</li>
	</ul> <!-- end #main-wrapper ul -->
	<footer id="footer-main" class="clearfix fl" role="contentinfo" th:replace="/WEB-INF/thymeleaf/templates/page-template.html::footer">
		<p>Pie de página de prueba</p>
	</footer>
</div> <!-- end #body-wrapper -->
</body>

</html>