
/******** Fonts ********/

@import url('//fonts.googleapis.com/css?subset=latin,latin-ext&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300');


/************************************
 ******** From normalize.css ********
 ************************************/


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
footer,
header,
main,
nav {
  display: block;
}


/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}




/************************************
 ********* From Vapor css ***********
 ************************************/

 /* === Core Styles === */
body {
  background-color: #ffffff;
  color: #7f8c8d;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
body * {
  max-height: 1000000em;
}

h1,
h2,
li {
  font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}
h1 {
  text-align: center;
}

a,
a:visited {
  color: #3498db;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
a:focus,
a:hover {
  color: #02090e;
}

li {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
}
li {
  padding-left: 0.8em;
}

h1 {
  color: #151515;
  font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 0;
  padding: 0;
}

#site-head {
  margin: 20px auto;
  max-width: 600px;
  width: 90%;
}
#site-head img {
  max-width: 100%;
}

/* === Header === */
#blog-logo {
  display: block;
  max-width: 100px;
  margin: 50px auto 0;
  text-align: center;
}
#blog-logo div.bloglogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background-color: #ffffff;
  background:url(http://cdn.hectorlopezfernandez.com/hector.png);
}
h1.blog-title,
h2.blog-description {
  text-align: center;
}
h1.blog-title {
  font-size: 48px;
  line-height: 52px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
}
h2.blog-description {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  margin-bottom: 2em;
  padding: .5em 1em;
  line-height: 1.2em;
}
h1.blog-title a {
  color: #151515;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
h1.blog-title a:focus,
h1.blog-title a:hover {
  color: #3498db;
  text-decoration: none;
}
h2 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: 300;
}

/* === Navigation === */
nav {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  margin-bottom: 2em;
  text-align: center;
  margin: 20px auto 2em auto;
  max-width: 600px;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
nav ul li {
  display: inline-block;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0 .5em;
  text-align: center;
  text-transform: uppercase;
}
nav ul li a {
  display: block;
  padding: .5em 0;
}
nav.menu {
  margin-bottom: 2.5em;
}
nav.menu li {
  margin: 0 .5em;
  padding: 0;
}
nav.menu li:last-child {
  margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 662px) {
  nav.menu li {
    display: block;
  }
}
