body { font-family: Open Sans; font-size: 12px; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-family: Quattrocento; }
#body-wrapper { color: #444444; width: 930px; padding: 0px; background-color: #FFFFFF; }
#headerbanner, #footer { width: 930px; }
#headerbanner li.mainl#header_image { background-size: 930px; }
#site-logo h1 { display: inline; float: none; width: auto; padding-right: 16px; }
#site-logo h1 a { font-family: Simonetta; font-size: 1.7em; text-shadow: 2px 1px 2px rgba(150, 150, 150, 1); }
#main-wrapper > li { margin: 0 15px; }
#main-wrapper .el3 { *margin-left: 30px; }
#firstsidebar { width: 300px; }
#firstsidebar article.side-featured { border-bottom: 0px; margin-bottom: 2px; padding-bottom: 2px; }
#secondsidebar { width: 180px; }
#maincontent { width: 600px; }
body.fullwidth #maincontent { width: 930px; }
.siteheader a:hover { color: #2B904E; }
.siteheader a { color: #444444; }
#description { color: #444444; }
a { color: #2b904e; }
a:hover { color: #4fb859; }
#nav nav ul { background: #FFFFFF; }
#nav nav a { color: #222222 }
#nav nav a:hover, #nav nav .sub-menu li, #nav nav li:hover { color: #444444; background: #EEEEEE; }
#subnav nav ul  { background: #FFFFFF; }
#subnav nav a { color: #222222 }
#subnav nav a:hover, #subnav nav .sub-menu li, #subnav nav li:hover { color: #222222; background: #EEEEEE; }
#footer nav ul  { background: #FFFFFF; }
#footer nav a { color: #222222 }
#footer nav a:hover, #footer nav .sub-menu li, #footer nav li:hover { color: #222222; background: #EEEEEE; }
h1.catheader { color: #222222; }
article .meta { color: #888888; }
article .posttitle, article .posttitle a { color: #222222; }
article .posttitle a:hover { color: #222222; }
article .content-col { padding-left: 165px; }
#archives h3 a, #tagcloud h3 a { color: #222222; }
#archives h3 a:hover, #tagcloud h3 a:hover { color: #2B904E; }
.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
@media only screen and (max-device-width: 768px), only screen and (max-width: 768px) {
	#body-wrapper { width: 720px !important; padding: 0 10px; }
	body.fullwidth #maincontent, #headerbanner, #footer { width: 720px !important; }
	#header_image { background-size: 720px !important; height: 123.870967742px !important; }
	#maincontent { width: 454.516129032px !important; }
	#firstsidebar { width: 232.258064516px !important; }
	#secondsidebar { width: 124.35483871px !important; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	#body-wrapper { width: 420px !important; padding: 0 10px; }
	body.fullwidth #maincontent, #headerbanner, #footer { width: 420px !important; }
	#maincontent { width: 420px !important; }
	#header_image { background-size: 420px !important; height: 72.2580645161px !important; }
	.home article { width: 100%; }
	#firstsidebar, #secondsidebar { float: none; width: 100% !important; }
	#main-wrapper > li { margin: 0 !important; }
	#extendedfooter .bottom-widget { width: 100%; margin: 0 0 20px; }
}