
/******** Webfonts ********/

@import url('//fonts.googleapis.com/css?subset=latin,latin-ext&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300');


/**************************************
 ********* From normalize.css *********
 **************************************/


aside,details,figcaption,
figure,hgroup,summary,
section {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}


/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}


/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}



/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}


/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}




/***********************************
 ********* From Vapor css **********
 ***********************************/

/** Desperate hack for pagespeed's critical path error on mobile **/

h1, h2, li {
	font-family: "Merriweather", "Open Sans", "Helvetica Neue";
}
h1 {
	font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue";
}
h2 {
	font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue";
}
nav ul li {
	font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue";
}


/* === Core Styles === */
h3,
h4,
p,
dt,
dd {
  font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}

.post-meta {
  text-align: center;
}

p,
dt,
dd {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
}
dt {
  font-weight: 400;
}

pre {
  font-family: "Consolas", Courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.05);
}
p code {
  font-family: "Consolas", Courier, monospace;
  font-size: .8em;
  line-height: 1.2em;
}

article,
article.preview,
a.archive-link,
.article-nav {
  margin: 20px auto;
  max-width: 600px;
  width: 90%;
}
article.preview {
  margin-bottom: 4em;
}
article.preview p.readmore {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 400;
}

/* Header (not used) */
header.article-header,
header.page-header {
  margin-bottom: 3em;
}

/* Footer */
section.footer-description {
  margin-bottom: 1em;
}

/* === Body === */
section.author,
section.share {
  width: 100%;
  text-align: left;
  text-transform: none;
}
section.share {
  margin-top: 1em;
  border-top: 1px solid #ecf0f1;
  padding-top: 1em;
  text-align: right;
}
section.author h4,
section.author p,
section.share p {
  padding: 0;
  margin: 0;
}
section.author h4 {
  font-family: "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}
section.author p.attr,
section.share p.info {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
}
section.share p.info.prompt {
  top: -5px;
  position: relative;
}
section.author p.attr {
  margin-bottom: 2px;
}
section.share p.info {
  display: inline-block;
}
section.author p.bio {
  font-size: 16px;
  margin-left: 82px;
  line-height: 1.4em;
}
blockquote {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
  border-left: 0.5em solid rgba(0, 0, 0, 0.05);
  margin-left: 1em;
  padding-left: 1em;
}
blockquote p {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
}
.post-meta {
  color: #95a5a6;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
.tags {
  font-size: 16px;
  margin-bottom: 0.6em;
}
div.authorimage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
  float: left;
}
h1.post-title a {
  color: #151515;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
h1.post-title a:focus,
h1.post-title a:hover {
  color: #3498db;
  text-decoration: none;
}

section.post-excerpt img, section.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
section.preview.archive h2 {
  text-align: left;
}
section.author {
  overflow: hidden;
}
img.userimage {
  width: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
/* === Footer === */
footer {
  background: rgba(0, 0, 0, 0.05);
  margin: 4em 0 0;
  padding: 2em 0;
  text-align: center;
}
footer section {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 5 auto;
  max-width: 600px;
  text-transform: uppercase;
  width: 90%;
}
footer.post-footer {
  background: none;
  border-top: 1px solid #ecf0f1;
  margin-top: 1em;
}

/* === Pagination === */
nav.pagination li:first-child {
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}
nav.pagination li:last-child {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
a.archive-link {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  display: block;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 3em;
  margin-top: 3em;
  padding: .5em 0;
  text-align: center;
  text-transform: uppercase;
}
.pagination {
  position: relative;
  width: 90%;
  max-width: 600px;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #7f8c8d;
  text-align: center;
  padding: 0.5em 0;
}
.pagination a {
  color: #3498db;
}
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
.older-posts {
  right: 0;
}
.page-number {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.newer-posts {
  left: 0;
}
.older-posts:hover,
.newer-posts:hover {
  color: #02090e;
  text-decoration: none;
}
/* === Extras === */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
.gist {
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: collapse !important;
}
.gist .gist-file {
  font-family: "Consolas", Courier, monospace;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}
.gist .gist-file .gist-meta {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  display: none !important;
  /* Hide GitHub attribution */
}
.gist .gist-file .gist-meta a:visited {
  color: #3498db !important;
}
.gist .gist-file .gist-data {
  background: #fdfdfd !important;
  border-bottom: none !important;
  /* Hide GitHub attribution */
}
.gist .gist-file .gist-data .line-numbers {
  border-right: none !important;
}
.gist .gist-file .gist-data .line-numbers,
.gist .gist-file .gist-meta {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.gist .gist-file .gist-data .line-numbers,
.gist .gist-file .gist-data .line-pre {
  line-height: 1.2em !important;
}


/* Comments */
#disqus_thread {
  color: #787878;
}
/* Tables */
table {
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  border-collapse: collapse;
  margin: 1em 0 3em;
}
table td {
  padding: .5em;
}
table thead {
  font-weight: 600;
  border-bottom: 1px solid #ecf0f1;
}
table tbody tr:nth-child(even) {
  background-color: #ecf0f1;
  border-top: 1px solid #e3e9eb;
  border-bottom: 1px solid #e3e9eb;
}
table tfoot {
  border-top: 1px solid #ecf0f1;
}
/* === Media Queries === */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  footer section span.copyright {
    display: block;
  }
  nav li {
    width: auto;
  }
  .older-posts,
  .newer-posts {
    position: static;
  }
  .newer-posts {
    margin-bottom: 10px;
  }
  .older-posts {
    margin-top: 10px;
  }
  .page-number {
    display: block;
  }
}
