<!DOCTYPE html>

<html dir="ltr" lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pagina de prueba</title>
</head>

<!--[if lt IE 7 ]><body class="page ie6"><![endif]-->
<!--[if IE 7 ]><body class="page ie7"><![endif]-->
<!--[if IE 8 ]><body class="page ie8"><![endif]-->
<!--[if IE 9 ]><body class="page ie9"><![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--><body class="home page"><!--<![endif]-->
<div id="body-wrapper" class="clearfix">
	<header id="header-main" role="banner">
		<p>El título y eso</p>
	</header>
	<ul id="main-wrapper">
		<li id="maincontent" role="main"> <!-- begin maincontent -->
			<article id="page-0" class="page">
				<p>Un post</p>
			</article>
		</li> <!-- end #maincontent -->
		<li id="firstsidebar" role="complementary" class="el2"> <!-- begin firstsidebar -->
			<aside id="search-3" class="side-widget widget_search">
				<header><h3>Barra lateral de prueba</h3></header>
			</aside>
		</li> <!-- end firstsidebar -->
	</ul>
	
	<footer id="footer-main" class="clearfix fl" role="contentinfo" th:fragment="footer"> <!-- begin footer -->
	<th:use-action-bean class="com.hectorlopezfernandez.action.RecentArchiveEntriesAction" event="execute" var="archiveEntriesBean"/>
	<th:use-action-bean class="com.hectorlopezfernandez.action.PopularTagsAction" event="execute" var="popularTagsBean"/>
	<th:use-action-bean class="com.hectorlopezfernandez.action.RecentCommentsAction" event="execute" var="recentCommentsBean"/>
		<ul id="footer" class="clearfix">
			<li id="extendedfooter" class="foot" role="complementary">
				<aside id="archives" class="widget1 bottom-widget widget_archive" th:with="archiveEntries=${#ctx.variables.archiveEntriesBean}">
					<h3><a href="archive.html" th:href="@{com.hectorlopezfernandez.action.ArchiveAction}">Archivo</a></h3>
					<ul th:each="entry : ${archiveEntries.entries}" th:with="month=${#numbers.formatInteger(entry.month,2)}">
						<li><a href="enero.html" title="enero" th:href="@{com.hectorlopezfernandez.action.ArchiveAction(year=${entry.year},month=${month})}" th:title="'Month: '+${month}" th:utext="${#strings.capitalize('month ')+month}">Enero</a> de <a href="2013.html" title="2013" th:href="@{com.hectorlopezfernandez.action.ArchiveAction(year=${entry.year})}" th:title="${entry.year}" th:utext="${#joda.createNow()}">2013</a></li>
					</ul>
				</aside>
				<aside id="tagcloud" class="widget2 bottom-widget widget_tag_cloud" th:with="popularTags=${#ctx.variables.popularTagsBean}">
					<h3><a href="tags.html" th:href="@{com.hectorlopezfernandez.action.TagsAction}">Etiquetas frecuentes</a></h3>
					<div th:each="tag : ${popularTags.tags}">
						<a href="tag1.html" title="tag1" style="font-size:8pt;" th:href="@{com.hectorlopezfernandez.action.TagsAction(name=${tag.nameUrl})}" th:title="${tag.name}" th:utext="${tagStat.index>0}?'&#8226; '+${tag.name}">tag1</a>
					</div>
				</aside>
				<aside id="recentcomments-aside" class="widget3 bottom-widget widget_recent_comments" th:with="recentComments=${#ctx.variables.recentCommentsBean}">
					<h3>&Uacute;ltimos comentarios</h3>
					<ul id="recentcomments" th:each="comment : ${recentComments.comments}" th:with="month=${#numbers.formatInteger(comment.post.month,2)}">
						<li class="recentcomments"><span th:text="${comment.author.displayName}">Pepito</span> en <a href="comentario1.html" th:href="@{com.hectorlopezfernandez.action.ArchiveAction#comment-${comment.id}(year=${comment.post.year},month=${month},name=${comment.post.titleUrl})}" th:text="${comment.post.title}">Titulo de post</a></li>
					</ul>
				</aside>
			</li>
			<li id="copyright" class="foot">&copy;2013 All Rights Reserved &#8226; Served by YAJBS 0.3 &#8226; Original design by <a href="http://presswork.me">PressWork</a></li>
		</ul> <!-- end #footer -->
	</footer> <!-- end footer -->

</div>
</body>
</html>