<!DOCTYPE html>

<html dir="ltr" lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pagina de prueba</title>
</head>

<!--[if lt IE 7 ]><body class="page ie6"><![endif]-->
<!--[if IE 7 ]><body class="page ie7"><![endif]-->
<!--[if IE 8 ]><body class="page ie8"><![endif]-->
<!--[if IE 9 ]><body class="page ie9"><![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--><body class="home page"><!--<![endif]-->
<div id="body-wrapper" class="clearfix">
	<header id="header-main" role="banner">
		<p>El título y eso</p>
	</header>
	<ul id="main-wrapper">
		<li id="maincontent" role="main"> <!-- begin maincontent -->
			<article id="page-0" class="page">
				<p>Un post</p>
			</article>
		</li> <!-- end #maincontent -->
		<li id="firstsidebar" role="complementary" class="el2"> <!-- begin firstsidebar -->

			<aside id="search-3" class="side-widget widget_search" th:fragment="searchbar">
				<form role="search" method="get" id="searchform" action="" th:action="@{com.hectorlopezfernandez.action.SearchAction}">
					<label class="assistive-text" for="s">Buscar</label>
					<input type="search" id="s" name="q" placeholder="Texto..." maxlength="50" th:value="${queryText}"/>
				</form>
			</aside>

			<aside id="who" class="side-widget">
				<header><h3>Prueba</h3></header>
			</aside>
		</li> <!-- end firstsidebar -->

	</ul>
</div>
</body>
</html>